html {
    font-size: 62.5%;
}

body {
    font-family: $oswald;
    color: $primaryText;
    background: linear-gradient(rgba($backgroundSecondary, $alpha: 0.7)), url(../assets/backgroundTexture.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h1, h2  {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

img {
    margin: 0;
    width: 100%;
}