html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $oswald;
    color: $primaryText;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h1, h2  {
    margin: 0;
    padding: 0;
}

a {
    color: $primaryText;
}

label:hover, label:focus {
    color: $accentColor;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}