header {
    //height
    background: $backgroundSecondary;
    color: $primaryText;
    border-bottom: 10px solid $borderColor;
        .headerText {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
}



