header {
    height: 30vh;
    background: $backgroundPrimary;
    color: $primaryText;
    text-transform: uppercase;
    border-bottom: 6px solid $accentColor;
        h1, h2 {
            display: inline;
            text-align: center;
        }
            h1 {
                font-size: 6rem;  
                letter-spacing: -4px;
            }
                h2 {
                    font-size: 2rem;
                    letter-spacing: 2px;
                    background: $backgroundSecondary;
                }
}

.headerText {
    width: 100%;
    display: flex;
    flex-direction: column;
    // padding: 30px 0px ;
    margin-bottom: 10px
    
}

.fabs {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-top: 12px;
    li {
        padding: 0 10px; 
    }
        a:visited {
            color:$primaryText;
        }
            a:hover {
                color: $accentColor; 
            }
}






