.overlay{
    width: 100%;
    height: 70vh;
    background: rgba($backgroundSecondary, $alpha: 0.7);
}

.options {
    height: 70vh;
    // background: $backgroundSecondary;
    background-image: url(../assets/backgroundTexture.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    position: relative;
    top: -420px;
    background: rgba(0,0,0,0.7);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    // border: 1px solid #000;
    border-radius: 7px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 40px;
}

form div{
    display: flex;
    // justify-content: center;
}

.selections {
    margin: 40px 0;
}


.selectionsBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}




// *************************** TEST
// .radioWrapper {
//     position:absolute;
//         input {
//             visibility:hidden; 
//             width:0;
//                 label:hover {
//                     font-weight:bold
//                 }
//         }
// }

// .radioWrapper input:checked + label {
//     font-weight:bold; 
//     color: green;
// }



// #typeWrap1, #countryWrap1 {
//     left: 160px;
// }
// #typeWrap2, #countryWrap2 {
//     left: 240px; 
// }
// #typeWrap3, #countryWrap3 {
//     left: 355px; 
// }