.options {
    height: 70vh;
    background: linear-gradient(rgba($backgroundSecondary, $alpha: 0.7)), url(../assets/backgroundTexture.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
        .container {
            @include centerFlex;
            max-width: 700px;
            width: 100%;
            text-transform: uppercase;
            background: rgba(0,0,0,0.7);
            box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
            border-radius: 0 0 7px 7px;
            margin: 0 auto;
            padding: 38px;
        }
}

.formHolder {
    width: 100%;
}

.selections {
    @include centerFlex;
    margin-bottom: 20px;
    font-family: $mono;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
        h2 {
            font-family: $oswald;
            font-size: 2.9rem;
            color: $accentColor;
            width: 25%;
        }
}

input[type=radio] {
    display: none;
        &:checked + label {
            color: #63B92E;
        }
    } 

label {
    width: 25%;
        &:hover {
            cursor: pointer; 
        }
}

.selectionsDrop label {
    cursor: default;
}

select {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    padding: 5px;
    border: none;
    border-radius: 4px;
    // appearance: none;       
    font-family: $mono;
    font-weight: 600;
    text-align: center;
    background: $backgroundSecondary;
    background-image: url(""); /* Add custom arrow */
    background-position: right;
    background-repeat: no-repeat; 
    background-size: 20px; 
    cursor: pointer; 
    text-transform: uppercase;
}

.selectionsBtn {
    width: 100%;
    @include centerFlex;
    background: none;
    border-radius: 0;
    padding: 0;
        button {
            @include redAlertButton;
                &:hover {
                    cursor: pointer; 
                }
        }
}

.modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: black;
  color: white;
}

.modal.isOpen {
  opacity: 1;
}

.modal.isOpen:not(:focus-within){
  opacity: 0.999;
  transition: opacity 0.001s;
}

.warplaneDetails {
  @include centerFlex();
}
