.modal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: black;
  color: white;
}

.modal.isOpen {
  opacity: 1;
}

.modal.isOpen:not(:focus-within){
  opacity: 0.999;
  transition: opacity 0.001s;
}

.warplaneDetails {
  @include centerFlex();
}