.options {
    // height: 70vh;
        .container {
            @include centerFlex;
            max-width: 700px;
            width: 100%;
            text-transform: uppercase;
            background: rgba(0,0,0,0.7);
            box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
            border-radius: 7px;
            margin: 3px auto;
            padding: 38px;
        }
}

.formHolder {
    width: 100%;
}

.selections {
    @include centerFlex;
    margin-bottom: 20px;
    font-family: $mono;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
        h2 {
            font-family: $oswald;
            font-size: 2.9rem;
            color: $accentColor;
            width: 25%;
        }
}

input[type=radio] {
    display: none;
        &:checked + label {
            color: $accentSecondary;
        }
    } 

label {
    width: 25%;
        &:hover {
            cursor: pointer; 
        }
}

.selectionsDrop label {
    cursor: default;
}

select {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    padding: 5px;
    border: none;
    border-radius: 4px;
    // appearance: none;       
    font-family: $mono;
    font-weight: 600;
    text-align: center;
    background: $backgroundSecondary;
    background-image: url(""); /* Add custom arrow */
    background-position: right;
    background-repeat: no-repeat; 
    background-size: 20px; 
    cursor: pointer; 
    text-transform: uppercase;
}

.selectionsBtn {
    width: 100%;
    @include centerFlex;
    background: none;
    border-radius: 0;
    padding: 0;
        button {
            @include redAlertButton;
        }
}


//       RESULTS SECTION        //

.results {
    background: $backgroundPrimary;
    h2 {
        text-align: center;
        display: inline-block;
        font-size: 6rem;
        width: 100%;
        margin: 25px 0;
        padding-bottom: 10px;
        text-transform: uppercase;
        border-bottom: 4px solid $accentColor;
    }
}

.warplanesContainer {
    margin-bottom: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 80px;
        li {
            margin: 2px ;
            margin-bottom: 5px;
            color: $backgroundPrimary;
            font-size: 1.5rem;
            text-transform: uppercase;
            background: url(../assets/clouds.jpg);
            background-position: center;
            background-size: cover;
            width: calc(25% - 4px);
            // border: 3px solid black;
            box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
            border-radius: 7px;                    
                    h3 {
                        font-family: $mono;
                        color: $accentColor;
                        background: lighten($backgroundPrimary, 15%);
                        margin-top: 0;
                        padding: 10px 0;
                    }
            &:hover {
              cursor: pointer;
            }
        }
}

.warplanesContainer li:focus {
  border: 4px $accentColor solid;
}

// Modal styles
.modal {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

  background: rgba($backgroundPrimary, 0.95);
}

.modal.isOpen {
  @include centerFlex();
  opacity: 1;
}

.modal.isOpen:not(:focus-within){
  opacity: 0.999;
  transition: opacity 0.001s;
}

.detailWindow {
  position: relative;
}

.exit {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%,-100%);

  background: none;
  border: none;

  color: $primaryText;
  font-size: 4.0rem;
}

.exit:hover, .exit:focus {
  color: $accentColor;
}

.warplaneDetails {
  background: $backgroundTertiary;
  border: 2px $borderPrimary ridge;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 20px;

  h3 {
    background: $backgroundPrimary;
    border-bottom: 2px $accentColor solid;

    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;

    margin-top: 0;
    padding: 10px;
  }
}

.pictureAndText{
  margin-right: 20px;
  width: calc(75% - 20px);
}

.planeStats {
  width: 25%;
  h4 {
    text-transform: uppercase;
  }
  p {
    font-family: $mono;
  }
}

.planePicture {
  background: url('../assets/skyBackground.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;

  img {
    margin: 0 auto;
  }
}

.errorNote {
  width: 100%;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
}