@media (max-width: 940px) {
  .wrapper {
    width: 100%;
  }

  .warplanesContainer li {
    width: calc(50% - 4px);
  }
}

@media (max-width: 768px) {
  header {
    border-bottom: 3px $accentColor solid;
  }

  label {
    font-size: 2rem;
  }

  .headerText h1 {
    font-size: 7rem;
    padding: 10px 0;
  }

  .selections {
    flex-wrap: wrap;
    justify-content: space-evenly;
    h2 {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .warplanesContainer li {
    width: calc(50% - 4px);
  }

  .modal {
    height: 100vh;
  }

  .warplaneDetails {
    flex-wrap: wrap;
    // max-height: 600px;
  }
  .pictureAndText, .planeStats {
    width: 100%;
  }

  .pictureAndText {
    margin: 0;

    .planeDescription p{
      margin: 40px 0;
    }
  }

  .planeStats{
    h3 {
      margin: 0
    }

    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
  
      li {
        width: calc(100%/3);
        text-align: center;
      }
    }
  } 
}

@media (max-width: 480px) {
  .headerText {
    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  .selections {
    flex-direction: column;
    label {
      width: 100%;
      padding: 10px;
    }
  }

  .warplanesContainer li {
    width: 100%;
  }

  select {
    font-size: 1.5rem;
  }
}