// The following are the dominant (basic) colors:

    $backgroundPrimary: #031524;
    $backgroundSecondary: #808080;
    $accentColor: #ffd900;
    $primaryText: #fff;

//FONTS

    $raleway:'Raleway', sans-serif;
    $oswald:'Oswald', sans-serif;
    $mono: 'PT Mono', monospace;
    


    // MIXINS GO HERE

    @mixin centerFlex {
        display: flex;
        justify-content: center;
        align-items: center;
    }


