// The following are the dominant (basic) colors:

    $backgroundPrimary: #052465;
    $primaryText: #fff;
    // $LightBlue: #00A3E0;
    // $WarplanesBlue: #0072CE;
    // $DarkBlue: #001430;
    // $SilverGray: #7A99AC;

// The additional (accent) colors include those of sparks, explosions, flame, and fire:
    $accentPrimary: #e4a667;
    $accentSecondary:rgb(206, 34, 43);
    $accentTertiary:rgb(157, 0, 5);


    $raleway:'Raleway', sans-serif;
    $oswald:'Oswald', sans-serif;




    


    // MIXINS GO HERE

    @mixin centerFlex {
        display: flex;
        justify-content: center;
        align-items: center;
    }


